@charset "utf-8";

::-webkit-scrollbar{
  display: none;
}

body{
  background-color: #014f86;
}

.m_login_text{
  padding-left: 10px;
  color: rgb(237, 237, 237);    
}

.m_contents{    
  position: relative;
}

.m_form{
  height: 30px;
  position: relative;    
}

.m_search_text{  
  padding-left: 20px;
  padding-right: 50px;    
}

.m_search_btn{
  position: absolute;
  top: 0;
  right: 55px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.m_btn_reset{
  height: 34px;

  position: absolute;
  top: 0;
  right: 0;
}


ul{
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
}

nav.m_nav>ul{
  opacity: 0.5;
  width: 50px;

  position: absolute;
  top: 68vh;
  right: 0;

  border-radius: 5px;
  box-sizing: border-box;
}

nav.m_nav>ul>li{
  text-align: center;
  line-height: 30px;
  background-color: rgb(237, 237, 237);
}