@charset "utf-8";
/*언어 인코딩*/

/*base - 기본작업*/
*{
    padding: 0;
    margin: 0;

    font-family: '맑은 고딕',sans-serif;
    font-size: 14px;
    color: #333333;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}

/*layout*/
.header{
    width: 1200px;
    height: 100px;

    margin: 0 auto;

    background-color: aquamarine;
}

.main{
    width: 1200px;
    height: 300px;

    margin: 0 auto;

    background-color: rgb(12, 88, 63);
}

.contents{
    width: 1200px;
    height: 200px;

    margin: 0 auto;

    background-color: rgb(20, 44, 36);
}