@charset "utf-8";

body{
    max-width: 1200px;

    overflow-x: hidden; 
    position: relative;   
}

header{    
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-around;

}

nav{
    width: 100%;
}

.nav_inner ul{
    display: flex;
    justify-content: space-between;
}

.main_images img{
    width: 100vw;
}